<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServeStuff</title>
</head>
<body>
    <center>
        <h1>Serve Stuff</h1>
        <p>Serve Stuff is a framework written in C, hopefully partly complying with HTTP 1.1</p>
        <br>
        <p>Test redirection to the <a href="notfound.html">not found</a> page</p>
        <br>
        <p>Test the HTTP GET method</p>
        <form action="/index.html" method="get"><button type="submit">GET</button></form>
        <br>
        <p>Test the HTTP HEAD method</p>
        <form action="/index.html" method="head"><button type="submit">HEAD</button></form>
        <br>
        <p>Test the HTTP POST method</p>
        <form action="/testpost" method="post">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="user_title" />
            </div>
            <br>
            <div>
                <label for="content">Content:</label>
                <textarea id="content" name="user_content"></textarea>
            </div>
            <br>
            <div class="button">
                <button type="submit">POST</button>
            </div>
            <br>
        </form>
        <br>
        <p>2023 - lundchristian</p>
    </center>
</body>
</html>